.ufui-btn-toolbar .ufui-btn .ufui-icon-open {
    background-position: 0 0;
}
.ufui-btn-toolbar .ufui-btn .ufui-icon-touch {
    background-position: -118px 0;
}
.ufui-btn-toolbar .ufui-btn .ufui-icon-mkdir {
    background-position: -138px 0;
}
.ufui-btn-toolbar .ufui-btn .ufui-icon-rename {
    background-position: -60px 0;
}
.ufui-btn-toolbar .ufui-btn .ufui-icon-remove {
    background-position: -79px 0;
}