.ufui-file{
    display: block;
    float: left;
    width: 90px;
    height: 90px;
    margin: 10px 0 0 10px;
    padding: 1px;
    list-style: none;
    border: 1px dotted #eeeeee;
    overflow: hidden;
}
.ufui-file.ufui-active{
    border: 2px solid #2e80dc;
    padding: 0;
}
.ufui-container.ufui-disabled .ufui-file.ufui-active{
    border: 2px solid #cccccc;
}
.ufui-file.ufui-disabled .ufui-file-icon,
.ufui-file.ufui-disabled .ufui-file-icon{
    opacity: .35;
    filter: alpha(opacity=35);
    background-image: none;
}
.ufui-file-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto 0 auto;
}
.ufui-file-icon i{
    display: block;
    width: 100%;
    height: 100%;
}

.ufui-file-title{
    padding: 3px 0;
    font-size: 12px;
    color: #555555;
    text-align: center;
    width: 90px;
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
}

.ufui-file-pers{
}
.ufui-file-nwr .ufui-file-pers{
    float: right;
    margin: -16px 0 0 0;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons.png");
    background-position: 0 -64px;
}
.ufui-file-wnr .ufui-file-pers,
.ufui-file-nwnr .ufui-file-pers{
    float: right;
    margin: -16px 0 0 0;
    width: 16px;
    height: 16px;
    background-image: url("../images/icons.png");
    background-position: 0 -96px;
}

/* filetype style */
.ufui-file-icon i{
    background-image: url("../images/file-icons.png");
    background-position: -215px center;
}
.ufui-file-icon .ufui-file-icon-dir{
    background-position: -15px center;
}
.ufui-file-icon .ufui-file-icon-file{
    background-position: -1015px center;
}
.ufui-file-icon .ufui-file-icon-filelist{
    background-position: -315px center;
}
.ufui-file-icon .ufui-file-icon-zip{
    background-position: -415px center;
}
.ufui-file-icon .ufui-file-icon-rar{
    background-position: -515px center;
}
.ufui-file-icon .ufui-file-icon-xls{
    background-position: -615px center;
}
.ufui-file-icon .ufui-file-icon-doc{
    background-position: -715px center;
}
.ufui-file-icon .ufui-file-icon-ppt{
    background-position: -815px center;
}
.ufui-file-icon .ufui-file-icon-vso{
    background-position: -915px center;
}
.ufui-file-icon .ufui-file-icon-pdf{
    background-position: -1015px center;
}
.ufui-file-icon .ufui-file-icon-txt{
    background-position: -1115px center;
}
.ufui-file-icon .ufui-file-icon-apk{
    background-position: -1215px center;
}
.ufui-file-icon .ufui-file-icon-exe{
    background-position: -1315px center;
}
.ufui-file-icon .ufui-file-icon-ipa{
    background-position: -1415px center;
}
.ufui-file-icon .ufui-file-icon-mp4,
.ufui-file-icon .ufui-file-icon-mov,
.ufui-file-icon .ufui-file-icon-mpeg,
.ufui-file-icon .ufui-file-icon-rm,
.ufui-file-icon .ufui-file-icon-rmvb{
    background-position: -1515px center;
}
.ufui-file-icon .ufui-file-icon-wav,
.ufui-file-icon .ufui-file-icon-wmv,
.ufui-file-icon .ufui-file-icon-mid,
.ufui-file-icon .ufui-file-icon-mp3{
    background-position: -1615px center;
}