.ufui-list{
    float: right;
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}
.ufui-list-container{
    height: 100%;
    /*border: 1px solid #eeeeee;*/
    border-left: 1px solid #eeeeee;
    padding: 5px;
    list-style: none;
    overflow-y: scroll;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
}
.ufui-list-container li{
    margin: 5px;
    padding: 5px;
    list-style: none;
    border: 1px dotted #eeeeee;
}
.ufui-list-container .ufui-list-item {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
}