.ufui-tree{
    float: left;
    width: 20%;
    height: 100%;
}
.ufui-tree-container{
    width: 100%;
    height: 100%;
    /*border: 1px solid #eeeeee;*/
    border-right-width: 0px;
    margin-right: 10px;
}
.ufui-tree-container,
.ufui-tree-container li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}