.ufui-tree{
    float: left;
    width: 20%;
    height: 100%;
    overflow: scroll;
}
.ufui-tree-container{
    height: 100%;
    /*border: 1px solid #eeeeee;*/
    border-right-width: 0px;
    margin: 10px;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
}
.ufui-tree-container li{
    margin: 4px 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #ff6a00;
}