.ufui-tree{
    float: left;
    width: 20%;
    height: 400px;
    overflow: scroll;
    background-color: #f7f7f7;
}
.ufui-tree-container{
    /*border: 1px solid #eeeeee;*/
    border-right-width: 0;
    margin: 10px;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
}
.ufui-tree-container li{
    margin: 4px 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    color: #ff6a00;
}
.ufui-tree-branch{
    list-style: none;
    margin-left: 0;
    padding-left: 8px;
}